.flex-container {
    text-align: center;
    margin-top: 40px;
}

/* .mat-form-field-infix{
    width:500px;
} */

/* .image-bg{
    margin-top: 0px;
    background: url("http://www.textures4photoshop.com/tex/thumbs/newspaper-background-texture-free-thumb33.jpg");
    opacity :0.1;
} */

/* .mat-form-field-infix {
    padding: .5em 0;
    border: 2px solid black;
    border-radius: 0.5;
} */
